html {
	font-family: sans-serif;
}
body * {
	box-sizing: border-box;
}
.header-container {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid#333;
}
.flex-item {
	border: 1px solid hsl(100, 100%, 100%);
	margin: 10px;
	height: 20px;
	max-width: 300px;
}
.container {
	max-width: 1320px;
	padding: 0 15px;
	margin: 0 auto;
}
